{% extends "base.html" %}

{% block content %}

<h1>Make or edit buggy </h1>

<table>
    <tr>
        <td>ID:</td>
        <td> {{ buggy['id'] }}</td>
    </tr>
    <tr>
        <td>Wheels:</td>
        <td> {{ buggy['qty_wheels'] }}</td>
    </tr>
    <tr>
        <td>Power Type:</td>
        <td> {{ buggy['power_type'] }}</td>
    </tr>
    <tr>
        <td>Number Of Primary Power Units:</td>
        <td> {{ buggy['power_units'] }}</td>
    </tr>
    <tr>
        <td>Number Of Tyres:</td>
        <td> {{ buggy['qty_tyres'] }}</td>
    </tr>
    <tr>
        <td>Type Of Tyres:</td>
        <td> {{ buggy['tyres'] }}</td>
    </tr>
    <tr>
        <td>Flag:</td>
        <td> {{ buggy['flag_color'] }}</td>
    </tr>
    <tr>
        <td>Secondary colour of flags:</td>
        <td> {{ buggy['flag_color_secondary'] }}</td>
    </tr>
     <tr>
        <td>Pattern of flag:</td>
        <td> {{ buggy['flag_pattern'] }}</td>
    </tr>
    <tr>
        <td>Cost:</td>
        <td> {{ buggy['total_cost'] }}</td>
    </tr>
</table>


<form action="/new" method="post">
    <label for="qty_wheels">Number of wheels:</label>
    <input type="text" name="qty_wheels"/>

    <label for="power_type">Power Type:</label>
    <select name="power_type" id="power_type" style="font-size:20px;">
        <option value="petrol">Petroleum-fuelled internal combustion engine</option>
        <option value="fusion">Fusion reactor</option>
        <option value="steam">Steam engine</option>
        <option value="bio">Bio-fuelled internal combustion engine</option>
        <option value="electric">Lithium-ion battery</option>
        <option value="rocket">Rocket fuel</option>
        <option value="hamster">hamster</option>
        <option value="thermo">Thermonuclear reactor</option>
        <option value="solar">Bank of solar panels</option>
        <option value="wind">Sailing rig</option>
    </select>

    <label for="power_units">Number of Primary Power Units:</label>
    <input type="text" name="power_units"/>

    <label for="qty_tyres">Number of tyres:</label>
    <input type="text" name="qty_tyres"/>

    <label for="tyres">Type of tyres:</label>
    <select name="tyres" id="tyres" style="font-size:20px;">
        <option value="knobbly">knobbly</option>
        <option value="maglev">maglev</option>
        <option value="reactive">reactive</option>
        <option value="slick">slick</option>
        <option value="steelband">steelband</option>
    </select>

    <label for="flag_color">Color of flag:</label>
    <select name="flag_color" id="flag_color" style="font-size:20px;">
        <option value="red">red</option>
        <option value="yellow">yellow</option>
        <option value="green">green</option>
        <option value="blue">blue</option>
    </select>

    <label for="flag_color_secondary">Secondary colour of flags:</label>
    <select name="flag_color_secondary" id="flag_color_secondary" style="font-size:20px;">
        <option value="red">red</option>
        <option value="yellow">yellow</option>
        <option value="green">green</option>
        <option value="blue">blue</option>
    </select>

    <label for="flag_pattern">Pattern of flag:</label>
    <select name="flag_pattern" id="flag_pattern" style="font-size:20px;">
        <option value="check">check</option>
        <option value="dstripe">dstripe</option>
        <option value="hstripe">hstripe</option>
        <option value="plain">plain</option>
        <option value="spot">spot</option>
        <option value="vstripe">vstripe</option>
    </select>

    <input type="submit" class="button">


</form>

<p>
    <a href="/" class="button">home</a>
</p>

{% endblock %}
